<?xml version="1.0" encoding="UTF-8"?>
<!--+
    |
    | <meta:header>
    |   <meta:licence>
    |     Copyright (C) 2024 University of Manchester.
    |
    |     This information is free software: you can redistribute it and/or modify
    |     it under the terms of the GNU General Public License as published by
    |     the Free Software Foundation, either version 3 of the License, or
    |     (at your option) any later version.
    |
    |     This information is distributed in the hope that it will be useful,
    |     but WITHOUT ANY WARRANTY; without even the implied warranty of
    |     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    |     GNU General Public License for more details.
    |
    |     You should have received a copy of the GNU General Public License
    |     along with this program.  If not, see <http://www.gnu.org/licenses/>.
    |   </meta:licence>
    | </meta:header>
    |
    | Log4j configuration, based on Baeldung article and Log4j manual.
    | https://www.baeldung.com/java-logging-intro
    | https://logging.apache.org/log4j/2.x/manual/async.html
    | https://logging.apache.org/log4j/2.x/manual/pattern-layout.html
    | https://medium.com/@bishalf98/log4j2-in-springboot3-095ab6f15763
    |
    +-->
<Configuration status="INFO">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%date{yyyy-MM-dd HH:mm:ss} %level{length=5} %thread %logger{1} %method() %message%n"/>
        </Console>
        <RollingFile name="LogFile"
                     fileName="/var/log/calycopis/broker.log"
                     filePattern="/var/log/calycopis/broker-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <Pattern>%date{yyyy-MM-dd HH:mm:ss} %level{length=5} %thread %logger{1} %method() %message%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <!--+
            | https://stackoverflow.com/a/68471053
            +-->
        <Logger name ="com.zaxxer.hikari" level="OFF"/>
        <!--Logger name="org.hibernate"   level="DEBUG" additivity="false">
            <AppenderRef ref="STDOUT"/>
        </Logger-->
        <!--+
            | https://stackoverflow.com/a/45224321
            | https://stackoverflow.com/a/78781501
            +-->
        <Logger name="org.springframework.orm.jpa" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="LogFile"/>
        </Logger>
        <Root level="INFO" includeLocation="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>

